
body {
	font-family: 'Quicksand', sans-serif; 
	background-image: url("../img/purty_wood.png");
	/*background-repeat: repeat-x repeat-y;*/

}

h1 {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	font-weight: bold;
}

/* div memeBoard styling*/

section {
	max-width: 325px;
	max-height: 325px;
	margin: 0 auto;
}

#the-game-board {
	text-align: center;
	margin-top: 10px;
}

#the-game-board button {
	margin-top: 10px;
}

.game-on {
	display: inline-block;
	width: 55px;
	height: 55px;
	border: 1px solid gray;
	margin: 10px 15px;
}

.game-on.clicked {
	background-color: black;
}

.game-on.unclicked {
	background-color: white;
}

.game-on.red-tile {
	background-color: red;
}