
body {
	font-family: 'Quicksand', sans-serif; 
	background-image: url("../img/purty_wood.png");
	/*background-repeat: repeat-x repeat-y;*/

}

h1 {
	text-align: center;
	font-family: 'Great Vibes', cursive;
	font-size: 68px;
	font-weight: bold;
}

h2 {
	text-align: center;
	height: 32px;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

div {
	vertical-align: top;

}

p.ng-binding{
	position: absolute;
	margin: 0px;
	text-align: center;
	height: 55px;
	width: 55px;
}

/* div memeBoard styling*/


section#the-game-board {
	max-width: 325px;
	min-height: 325px;
	margin: 0 auto;
	text-align: center;
}

.game-on {
	display: inline-block;
	width: 55px;
	height: 55px;
	border: 1px solid rgba(20,20,20,0.3);
	margin: 10px 15px;
	font-size: 50px;
}

.game-on:hover {
	background-color: rgba(20,20,20,0.1);
	border: 1px solid rgba(20,20,20,0.5);
}
section.game-buttons{
	max-width: 325px;
	/*min-height: 325px;*/
	margin: 0 auto;
	text-align: center;
}