<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Meme!</title>
	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Exo+2:800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<!-- angular library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<!-- firebase -->
	<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
	
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<!-- local javascript files -->
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/MemeBoard.js"></script>
	<script type="text/javascript" src="js/TicTacController.js"></script>
</head>

<body ng-app="TicTacApp" ng-controller="TicTacController as tictac">

<header>
	<nav>
		<h1>{{tictac.gameName}}</h1>
		<h2>{{tictac.winningMessage()}}</h2>
	</nav>
</header>

<main>
	<section id="the-game-board" >
		<div>

		<!-- ng-show="tictac.playerNum === tictac.lobby.whoseTurn" 
				ng-click="tictac.addToFBApp(newPlayerMoves); tictac.lobby.whoseTurn = (tictac.lobby.whoseTurn +1)%2; tictac.loby.$save();"-->
			<div class="game-on" 
					ng-repeat="tile in tictac.gameBoard track by $index"
					ng-class="tictac.playingBoard.tileStatus($index)"
					
					ng-click="tictac.playerMove($index); tictac.checkWin($index)">
					<p> {{tile}} </p>
			</div>
		</div>
		<h3>Version: {{tictac.gameVersion}}</h3>
	</section>
	<!-- image should appear when there is a winner or looser or there's a cats game -->
	<!-- <img src=""> -->

	<!-- <h1>{{ game.activeBoard.tiles }} </h1>
		<section id="active-board">
			<div class="game-board">
				<div class="board-tile"
				     ng-repeat="tics in tictac.activeBoard.tiles track by $index"
				     ng-click="tictac.activeBoard.toggleTile($index)"
				     ng-class="tictac.activeBoard.getTileState($index)">
				     {{ $index }}
				</div>
			</div>
			<button>Submit Guess</button>
		</section> -->

	<section class="game-buttons">
		<button id="restart" >Restart Game!</button>
		
		<!-- <button id="player2">Player2</button> -->
	</section>

</main>

















</body>
</html>