<!DOCTYPE html>
<html>
<head>
	<title>Tic Tac Meme!</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/MemeBoard.js"></script>
	<script type="text/javascript" src="js/TicTacController.js"></script>
</head>
<body ng-app="TicTacApp" ng-controller="TicTacController as tictac">

<header>
	<nav>
		<h1>{{tictac.gameName}} version: {{tictac.gameVersion}} </h1>
		<h2>{{tictac.winningMessage()}}</h2>
		
	</nav>
</header>


<h2>{{tictac.playingBoard.boxes}}</h2>
<main>
	<section id="the-game-board" >
		<div>
			<div class="game-on" 
					ng-repeat="tile in tictac.gameBoard track by $index"
					ng-class="tictac.playingBoard.tileStatus($index)"
					ng-click="tictac.playerMove($index); tictac.checkWin($index)">
					<p> {{tile}} </p>


			</div>
		</div>
	</section>






	<!-- <h1>{{ game.activeBoard.tiles }} </h1>
		<section id="active-board">
			<div class="game-board">
				<div class="board-tile"
				     ng-repeat="tics in tictac.activeBoard.tiles track by $index"
				     ng-click="tictac.activeBoard.toggleTile($index)"
				     ng-class="tictac.activeBoard.getTileState($index)">
				     {{ $index }}
				</div>
			</div>
			<button>Submit Guess</button>
		</section> -->

	<section class="players">
	<button id="player1" >Player1</button>
	
	<button id="player2">Player2</button>
	</section>

</main>

















</body>
</html>